
block foot

block script
    script(src='/socket.io/socket.io.min.js')
    script(src='javascripts/code.jquery.com_jquery-3.7.0.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js")
    script(src='https://kit.fontawesome.com/95df371026.js' crossorigin='anonymous')
    script(src='javascripts/mainjs.js')