
block foot
  .row.abbc.shadow.border.mx-auto.row-cols-1.g-2.m-0
    //- .card.card-bigg.shadow.border.mb-4.py-1.px-1.align-items-center
    //-   .card-body.align-items-center.p-0

    h3.d-flex.justify-content-center.align-items-center.p-0.m-2
      | Issues? Please.. &nbsp;
      a.txtUs.btn.btn-light.btn-lg.justify-content-center(role='button' href='sms:15015157182')
        i.fa-regular.fa-comment.fa-lg
            |  Text Us
    

block script

    script(src='javascripts/code.jquery.com_jquery-3.7.0.min.js')
    script(src='javascripts/bootstrap.bundle.min.js')
    script(src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js")
    script(src='https://kit.fontawesome.com/95df371026.js' crossorigin='anonymous')
    script(src='javascripts/mainjs.js')