extends layout

append head
append style
append content

  nav.navbar.navbar-expand-lg.navbar-dark.bg-swim.px-3.py-2
    a.navbar-brand(href='#') Desert Poolside
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#collapsibleNavbar')
      span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.mx-2.active(href='/') Home
        li.nav-item
          a.nav-link.mx-2(href='poolspa') Pool & Spa
        li.nav-item
          a.nav-link.mx-2(href='grill') Grill
        li.nav-item
          a.nav-link.mx-2(href='cooling') Cooling 
        li.nav-item
          a.nav-link.mx-2(href='media') Audio/Video  

  .container.mb-3
    h1.text-center.mt-3.mb-4.h-title #{title}
    .row.abbc.shadow.border.mb-4.py-3.px-3
      p
        h2.text-center.pb-3 Make The Most of Your Stay
        .container-fluid
          .row.p-3.dtps
            p 
              h4.pb-3 
                | Welcome ot The Desert Poolside Mini-Resort. That's how we like to think of our space because it is what we are striving for. 
                | Do you need time to relax, unwind, and forgot the world?  You can do that here.  
                br
                br
                | Or perhaps the kids wants some fun?  We have floaties, goggles, squirt guns and more. 
                br
                br
                | Need to cut loose and party? We've got you covered!  Haze / fog machines, laser light show, TV, streaming audio/video, great speakers and more!
                br
                br
                | Maybe you and your love want a nice romantic evening poolside... this is the perfect place for you both.
                br
                br
                | Whatever your reasons for coming, please enjoy your stay and let us know if we can help.
    .row.abbc.shadow.border.mb-4.py-3.px-3
      p
        h2.text-center.pb-3 A Bit About The Desert Poolside
        .container-fluid
          .row.ratio.ratio-16x9.pb-3.text-center.g-2
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/6wpppt0Pkpc' title='YouTube video player' frameborder='0' allowfullscreen='')

    include foot
append script