extends layout

append head
append style
append content

  nav.navbar.navbar-expand-lg.navbar-dark.bg-swim.px-3.py-2
    a.navbar-brand(href='/') #[image(src='images/dpspalms.png' alt='AirPlay' style='width:40px; height:40px;')] Desert Poolside
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#collapsibleNavbar') 
      span.navbar-toggler-icon
    #collapsibleNavbar.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link.mx-2.active(href='/') Welcome
        li.nav-item
          a.nav-link.mx-2(href='poolspa') Spa
        li.nav-item
          a.nav-link.mx-2(href='grill') Grill
        li.nav-item
          a.nav-link.mx-2(href='cooling') Cooling 
        li.nav-item
          a.nav-link.mx-2(href='media') Audio/Video
        li.nav-item
          a.nav-link.mx-2(role='button' href='sms:15015157182') Contact Us

  .container.mb-3
    h1.text-center.mt-3.mb-4.h-title Welcome and Enjoy!
    .row.abbc.shadow.border.mb-4.py-3.px-3
      p
        h2.text-center.pb-3 Make The Most of Your Stay
        .container-fluid
          .row.p-3.dtps
            p 
              h4.pb-3 
                | Welcome to The Desert Poolside Mini-Resort, where your ultimate relaxation and enjoyment are our top priorities. Whether you're seeking a tranquil retreat to unwind and escape from the demands of the world or looking to indulge in fun-filled activities with your family, we've designed this space with you in mind.
                br
                br 
                | For those in need of a serene break, our resort offers the ideal setting. Picture yourself lounging by the pool, letting go of stress and embracing tranquility.
                br
                br
                | Families with children can delight in a variety of exciting options. From floaties to goggles and squirt guns, we have a range of amenities to keep the kids entertained and enthralled.
                br
                br
                | And when it's time to let loose and celebrate, our amenities have got you covered. Our offerings include haze/fog machines, a mesmerizing laser light show, top-notch audio and visual equipment for streaming, along with excellent speakers to set the mood.
                br
                br
                | Perhaps you and your partner are seeking a romantic evening by the poolside – a space made just for you two. Our mini-resort provides the perfect backdrop for a magical, intimate experience.
                br
                br
                | No matter your reasons for choosing The Desert Poolside Mini-Resort, we sincerely hope you thoroughly enjoy your stay. Please don't hesitate to reach out if there's anything we can do to enhance your experience. 
                br
                br
                | Tag 3 photos of your visit on #[a(href='https://instagram.com/desert.poolside?igshid=MjEwN2IyYWYwYw==' target="_blank" style="text-decoration:none") Instagram] and get 5% off your next visit! @desert.poolside  
    .row.abbc.shadow.border.mb-4.py-3.px-3
      p
        h2.text-center.pb-3 A Bit About The Desert Poolside
        .container-fluid
          .row.ratio.ratio-16x9.pb-3.text-center.g-2
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/6wpppt0Pkpc' title='YouTube video player' frameborder='0' allowfullscreen='')

    include foot
append script