doctype html
html
  head
    block head
      meta(http-equiv='Content-type' content='text/html;charset=UTF-8')
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      title Desert Poolside
    block style
      link(rel='icon' href='/images/dpspalms.svg')
      link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
      link(href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet")
      link(href='stylesheets/style.css' rel='stylesheet' type='text/css')
  body 
   block content
    div#topheader
