extends layout

prepend head
append style
append content
include sidebar

    .container
        h1.text-center.mt-3.mb-4.h-title Welcome To Our Pool
        .row
            .card.card-bigg.shadow.border.mb-4.py-3.px-3
                .card-body.p-0
                    .card-title.py-2
                        h2.text-center.pb-0 Pool Controls
                        .container-fluid.poolSpecCont
                            .row.text-center.row-cols-1.row-cols-lg-4.row-cols-md-2.g-2
                                .col.px-2
                                    .card.card-smm.text-decoration-none
                                        #poolCirculation.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                            p.card-text
                                                h3
                                                    img(src="/images/circulate.png", alt="Circulation on", width="40", height="34")
                                                    span#poOn  Pool On
                                            a#pool-circulate.stretched-link(href="#", role="button", data-bs-toggle="button", aria-disabled="true")
                                .col.px-2
                                    .card.card-smm.text-center.text-decoration-none
                                        #poolLight.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                            p.card-text
                                                h3 💡 Lights
                                            a.stretched-link(id="pool_light", href="#", role="button", data-bs-toggle="button", aria-pressed="true")
                                .col.px-2
                                    .card.card-smm.text-center.text-decoration-none
                                        #fount.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                            p.card-text
                                                h3 💦 Fountains
                                        a#fountain.stretched-link(href="#", role="button", data-bs-toggle="button", aria-disabled="true")
                                .col.px-2
                                    .card.card-smm.text-decoration-none
                                        #poolTempLink.card-body.py-0.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                            p.card-text.m-0
                                                h3 class=&quot;mb-1&quot;&gt;🌡️ Set Temp
                                                a#poolTempBtn.stretched-link(href="#", role="button", data-bs-toggle="button", aria-disabled="true")
                                                h6
                                                    p.mb-0
                                                        small
                                                            span Is now: 
                                                            span.poolCurrentTemps
                                                            span ° F
                                                            br
                                                            span Set for: 
                                                            span.poolSetTemps.m-1
                                                            h2.pFlake ❄️
                                                            h2.pFlame 🔥
        .row
            .card.card-bigg.shadow.border.mb-4.py-3.px-3
                .card-body.p-0
                    .card-title.py-2
                        h2.text-center.pb-0 Spa Controls
                    .container-fluid
                        .row.text-center.row-cols-1.row-cols-lg-3.row-cols-md-2.g-2
                            .col.px-2
                                .card.card-smm.text-decoration-none
                                    #spaCirculation.card-body.align-items-center.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                        p.card-text
                                            h3
                                                img(src="/images/circulate.png", alt="Circulation on", width="40", height="34")
                                                span#spOn  Spa On
                                    a#spa-circulate.stretched-link(href="#", role="button", data-bs-toggle="button", aria-pressed="true")
                            .col.px-2
                                .card.card-smm.text-center.text-decoration-none
                                    #spaLight.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                        p.card-text
                                            h3 💡 Lights
                                            p
                                    a.stretched-link(id="spa_light", href="#", role="button", data-bs-toggle="button", aria-pressed="true")
                            .col.px-2
                                .card.card-smm.text-center.text-decoration-none
                                    #blowsHard.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                        p.card-text
                                            h3 &amp;#x1FAE7; Blowers
                                            p
                                    a#blower.stretched-link(href="#", role="button", data-bs-toggle="button", aria-pressed="true")
                            .col.px-2
                                .card.card-smm.text-center.text-decoration-none
                                    #spaJets.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                        p.card-text
                                            h3
                                                i.fa-solid.fa-water
                                                | Jets
                                    a.stretched-link(id="spa_jets", href="#", role="button", data-bs-toggle="button", aria-pressed="true")
                            .col.px-2
                                .card.card-smm.text-center.text-decoration-none
                                    #spaTempLink.card-body.shadow.border.btn.btn-lg.btn-info.omG.mb-2
                                        p.card-text.swall.m-0
                                            h3.mb-1 🌡️ Set Temp
                                        a#spaTempBtn.stretched-link(href="#", role="button", data-bs-toggle="button", aria-disabled="true")
                                            h6
                                                small
                                                    span Is now: 
                                                    span.spaCurrentTemps
                                                    span ° F
                                                    br
                                                    span Set for: 
                                                    span.spaSetTemps
                                                    br
                                                    h2.sFlake ❄️
                                                    h2.sFlame 🔥

        .row.rowzz.mx-auto.row-cols-1.g-2.m-0
            .card.card-bigg.shadow.border.mb-4.py-1.px-1.align-items-center
                .card-body.align-items-center.p-0
                    p
                        h3.d-flex.justify-content-center.align-items-center.p-0.m-2 Issues? Please.. &amp;nbsp; 
                            a.btn.btn-light.btn-lg.justify-content-center(role="button", href="sms:15015157182")
                                i.fa-regular.fa-comment.fa-lg
                                | Text Us
        p
            h2.text-center.mb-4.h-title
                em * Only one body of water (Pool or Spa) can run and be heated/cooled at a time.




    include foot
append script